mixin h1(v)
	.page-header(class=h1_bg=='grey'?'bg-grey':'', class=h1_white=='true'?'page-header_white':'')
		.container-fluid
			.row
				.col-12
					h1= v


mixin breadcrumbs(links, color)
	- var len=links.length
	.breadcrumb-wrap(class=color=='grey'?'bg-grey':'', class=crumb_white=='true'?'breadcrumb-wrap_white':'')
		.container-fluid
			.row
				.col-12
					ul.breadcrumb
						- var i=0
						while i < len-1
							li.breadcrumb__item
								a(href=links[i].href).breadcrumb__link=links[i].name
							- i++
						li.breadcrumb__item
							span=links[i].name

mixin svg(icon, name_class, width,height)
	svg.icon(class=name_class?name_class:'', width=width?width:'', height=height?height:'')
		use(xlink:href='assets/sprites/sprite.svg#'+icon)